---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles_pi %}
      <a>
        <h2 class="category">PI</h2>
      </a>
      {% for profile in page.profiles_pi %}
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
              </div>
          {% endif %}
          {% if profile.name %}
            <div class="more-info">{{ profile.name }}</div>
            {% if profile.email %}
                <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
            {% endif %}
          {% endif %}
          {% if profile.more_info %}
            <p style="margin-top: 0;">{{ profile.more_info }}<p>
          {% endif %}
          <br>
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {% if page.profiles_postdoc %}
      <a>
        <h2 class="category">Postdocs</h2>
      </a>
    <div style="display: flex; flex-wrap: wrap; justify-content: start;">
        {% for profile in page.profiles_postdoc %}
          <div class="profile" style="flex: 1 0 300px; margin: 10px; max-width: 300px;">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
              </div>
            {% endif %}
            {% if profile.name %}
              <div class="more-info">{{ profile.name }}</div>
              {% if profile.email %}
                  <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
              {% endif %}
              {% if profile.website or profile.more_info or profile.content %}
              <div class="links">
                {% if profile.website %}
                  <a href="https://{{ profile.website }}" class="more-info-btn btn-sm z-depth-0" role="button">WEBSITE</a>
                {% endif %}
                {% if profile.more_info or profile.content %}
                    <button class="more-info-btn btn-sm z-depth-0">ABS</button>
                    <div class="more-info-content hidden">
                      {% if profile.more_info %}
                          <div  style="padding-left: 10px;">{{ profile.more_info }}</div>
                      {% endif %}
                      {% if profile.content %}
                          {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                          {{ profile_content | markdownify }}
                      {% endif %}
                    </div>
                {% endif %}
              </div>
              {% endif %}
            {% endif %}
            <br>
          </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if page.profiles_soft %}
      <a>
        <h2 class="category">Research Software Engineers</h2>
      </a>
    <div style="display: flex; flex-wrap: wrap; justify-content: start;">
        {% for profile in page.profiles_soft %}
          <div class="profile" style="flex: 1 0 300px; margin: 10px; max-width: 300px;">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
              </div>
            {% endif %}
            {% if profile.name %}
              <div class="more-info">{{ profile.name }}</div>
              {% if profile.email %}
                  <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
              {% endif %}
              {% if profile.website or profile.more_info or profile.content %}
              <div class="links">
                {% if profile.website %}
                  <a href="https://{{ profile.website }}" class="more-info-btn btn-sm z-depth-0" role="button">WEBSITE</a>
                {% endif %}
                {% if profile.more_info or profile.content %}
                    <button class="more-info-btn btn-sm z-depth-0">ABS</button>
                    <div class="more-info-content hidden">
                      {% if profile.more_info %}
                          <div  style="padding-left: 10px;">{{ profile.more_info }}</div>
                      {% endif %}
                      {% if profile.content %}
                          {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                          {{ profile_content | markdownify }}
                      {% endif %}
                    </div>
                {% endif %}
              </div>
              {% endif %}
            {% endif %}
            <br>
          </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if page.profiles_phd %}
        <a>
          <h2 class="category">PhD Students</h2>
        </a>
        <div style="display: flex; flex-wrap: wrap; justify-content: start;">
        {% for profile in page.profiles_phd %}
          <div class="profile" style="flex: 1 0 300px; margin: 10px; max-width: 300px;">
            {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                  {% endif %}
                  <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                    <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
                  </div>
            {% endif %}
            {% if profile.name %}
              <div class="more-info">{{ profile.name }}</div>
              {% if profile.email %}
                  <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
              {% endif %}
              {% if profile.website or profile.more_info or profile.content %}
              <div class="links">
                {% if profile.website %}
                  <a href="https://{{ profile.website }}" class="more-info-btn btn-sm z-depth-0" role="button">WEBSITE</a>
                {% endif %}
                {% if profile.more_info or profile.content %}
                    <button class="more-info-btn btn-sm z-depth-0">ABS</button>
                    <div class="more-info-content hidden">
                      {% if profile.more_info %}
                          <div  style="padding-left: 10px;">{{ profile.more_info }}</div>
                      {% endif %}
                      {% if profile.content %}
                          {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                          {{ profile_content | markdownify }}
                      {% endif %}
                    </div>
                {% endif %}
              </div>
              {% endif %}
            {% endif %}
            <br>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    
    {% if page.profiles_master %}
        <a>
          <h2 class="category">Master Students</h2>
        </a>
        <div style="display: flex; flex-wrap: wrap; justify-content: start;">
        {% for profile in page.profiles_phd %}
          <div class="profile" style="flex: 1 0 300px; margin: 10px; max-width: 300px;">
            {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                  {% endif %}
                  <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                    <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
                  </div>
            {% endif %}
            {% if profile.name %}
              <div class="more-info">{{ profile.name }}</div>
              {% if profile.email %}
                  <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
              {% endif %}
              {% if profile.website or profile.more_info or profile.content %}
              <div class="links">
                {% if profile.website %}
                  <a href="https://{{ profile.website }}" class="more-info-btn btn-sm z-depth-0" role="button">WEBSITE</a>
                {% endif %}
                {% if profile.more_info or profile.content %}
                    <button class="more-info-btn btn-sm z-depth-0">ABS</button>
                    <div class="more-info-content hidden">
                      {% if profile.more_info %}
                          <div  style="padding-left: 10px;">{{ profile.more_info }}</div>
                      {% endif %}
                      {% if profile.content %}
                          {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                          {{ profile_content | markdownify }}
                      {% endif %}
                    </div>
                {% endif %}
              </div>
              {% endif %}
            {% endif %}
            <br>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    
    {% if page.collaborators %}
        <a>
          <h2 class="category">Collaborators</h2>
        </a>
        <div style="display: flex; flex-wrap: wrap; justify-content: start;">
        {% for profile in page.collaborators %}
          <div class="profile" style="flex: 1 0 300px; margin: 10px; max-width: 300px;">
            {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: '/assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                  {% endif %}
                  <div style="position: relative; width: 100%; padding-bottom: 100%; overflow: hidden;">
                    <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" style="object-fit: cover; object-position: top; position: absolute; height: 100%; width: 100%;" />
                  </div>
            {% endif %}
            {% if profile.name %}
              <div class="more-info">{{ profile.name }}</div>
              {% if profile.email %}
                  <div class="more-info"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
              {% endif %}
              {% if profile.more_info %}
                <p style="margin-top: 0;">{{ profile.more_info }}<p>
              {% endif %}
            {% endif %}
            <br>
          </div>
        {% endfor %}
        </div>
    {% endif %}
  </article>
</div>
<style>
.more-info-btn {
    background-color: #fff !important;
    color: var(--global-text-color) !important;
    border: 1px solid var(--global-text-color) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    display: inline-block;
    height: 30px !important;
    font-weight: 300;

    &:hover {
        color: var(--global-theme-color) !important;
        border-color: var(--global-theme-color) !important;
        text-decoration: none !important;
    }

}
.more-info-content {
    font-size: 0.875rem;
    max-height: 0px;
    overflow: hidden;
    text-align: justify;
    transition-property: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: all 0.15s ease;

    p {
      line-height: 1.4em;
      margin: 10px;
    }

    pre {
      font-size: 1em;
      line-height: 1.4em;
      padding: 10px;
    }
}

.more-info-content.hidden.open {
  max-height: 100em;
  transition-property: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}

div.more-info-content.hidden {
  border: dashed 1px var(--global-bg-color);
}

div.more-info-content.hidden.open {
  border-color: var(--global-text-color);
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function() {
    jQuery('.more-info-btn').each(function() {
        jQuery(this).click(function() {
            var moreInfoContent = jQuery(this).next('.more-info-content');
            if (moreInfoContent.hasClass('open')) {
                moreInfoContent.removeClass('open');
            } else { 
                moreInfoContent.addClass('open');
            }
        });
    });
});
</script>